{% extends "todolist/base.html" %}

{% block title %}Todo list{% endblock %}

{% block content %}
    <h1>Prihlaseny {{ user.username }}</h1>
    
    <div class="row">
        <div class="left first">
            {% if latest_list %}
                <ul>
                {% for todo in latest_list %}
                    <li><a href="{% url 'todo:detail' todo.id %}">{{ todo.todo }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Zatial neboli vytvorene ziadne Todo :)</p>
            {% endif %}
            
            <a href="{% url 'todo:add' %}">Pridat</a>
        </div>
        
        <div class="left">
            {{ actionLog_div }}
        </div>
    </div>
    
    <br /><br />
    <a href="/admin/">Administrácia</a>
    
    <br /><br /><br />
    <a href="{% url 'doLogout' %}">Odhlásiť sa</a>
{% endblock %}