{% extends "todolist/base.html" %}

{% block title %}Todo list{% endblock %}

{% block content %}
    <h1>Prihlaseny {{ user.username }}</h1>
    
    <div class="row">
        <div class="left first">
            {% if latest_list %}
                <ul>
                {% for todo in latest_list %}
                    <li><a href="{% url 'todo:detail' todo.id %}">{{ todo.todo }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Zatial neboli vytvorene ziadne Todo :)</p>
            {% endif %}
            
            <a href="{% url 'todo:add' %}">Pridat</a>
        </div>
        
        <div class="left middle">
            {% if most_tags_list %}
                <ul class="tags_list">
                {% for tag in most_tags_list %}
                    <li><span class="tag_name">{{ tag.tag }}</span> | {{ tag.get_usage }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Zatial neboli vytvorene ziadne Tagy :)</p>
            {% endif %}
            
            <!--<a href="{% url 'todo:addTag' %}">Pridat</a>--> 
        </div>
        
        <div class="right">
            {{ actionLog_div }} 
        </div>
    </div>
    
    <br /><br />
    <a href="/admin/">Administrácia</a>
    
    <br /><br /><br />
    <a href="{% url 'doLogout' %}">Odhlásiť sa</a>
{% endblock %}