/* Todo app */
body {
    font-family: Arial, sans-serif;
    font-size: 62.5%; /* 10px */
}
.login_form {
    width: 500px;
    height: 170px;
    margin: 150px auto 0px auto;
    padding: 10px;
    
    border: 2px solid black;
}
.login_form.register {
    height: 200px;
}
.login_row {
    height: 30px;
    margin: 10px 0px 0px 0px;
}
.login_form label {
    float: left;
    display: block;
    width: 150px;
    
    padding-top: 6px;
    font-size: 1.6em;
}
.login_form input {
    float: right;
    display: block;
    width: 300px;
    
    font-size: 1.6em;
}